.footer {
    width: 100%;
    background-color: #4A99D3;
    color: #fff;
    padding: 0px 20px;
    padding-top: 20px;
}

.main {
    width: 80%;
    margin: 0 auto;
    display: flex;

}

.main .list {
    width: 20%;
}

.main h3 {
    border-bottom: 2px solid #fff;
    display: inline;
}

.main a {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
}

.list h1 {
    margin-left: -40px;
    color: white;
}

.main p {
    font-size: 18px;
}

.end {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.end ul {
    width: 15%;
    display: flex;
}

.end ul li {
    list-style: none;
    width: 25%;
}